<section class="about-me" id="about-me">
  <div class="about-me__section container">
    <h2 class="about-me__title visually-hidden">ABOUT ME</h2>
    <div class="about-me__box">
      <div class="about-me__description">
        <p class="about-me__description--title">
          I work with people all over the world to create impressive and
          <span class="about-me__description--title-accent-red"
            >functional</span
          >
          <span class="about-me__description--title-accent-grey">websites</span>
          that reflect each client's unique personality.
        </p>
      </div>
      <div class="about-me__image">
        <picture class="about-me__photo">
          <source
            srcset="
              ./img/about-me/about-me-desktop.jpg    1x,
              ./img/about-me/about-me-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/about-me/about-me-tablet.jpg    1x,
              ./img/about-me/about-me-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/about-me/about-me-mobile.jpg    1x,
              ./img/about-me/about-me-mobile@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />

          <img src="./img/about-me/about-me-desktop.jpg" alt="portrait" />
        </picture>
      </div>
    </div>
    <div class="about-me__accordion-box">
      <ul class="about-me__accordion-container">
        <li class="about-me__item">
          <div class="about-me__item--box">
            <h3 class="about-me__header">ABOUT ME</h3>
            <button type="button" class="about-me__button">
              <svg
                class="about-me__icon about-me__icon--rotate"
                width="18"
                height="18"
                aria-label="icon arrow"
              >
                <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <ul class="about-me__panel">
            <li class="about-me__panel-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </li>
            <li class="about-me__panel-text">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work.
              <p>
                I am always looking for opportunities for self-improvement. I
                actively study new technologies and practices to stay abreast of
                the latest innovations. I have a strong understanding of various
                programming languages, frameworks and architectural concepts
                that allow me to create efficient and scalable software.
              </p>
            </li>
          </ul>
        </li>

        <li class="about-me__item">
          <div class="about-me__item--box">
            <h3 class="about-me__header">ROLE</h3>
            <button type="button" class="about-me__button">
              <svg
                class="about-me__icon"
                width="20"
                height="20"
                aria-label="icon arrow"
              >
                <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <ul class="about-me__panel visually-hidden">
            <li class="about-me__panel-text">Frontend development</li>
            <li class="about-me__panel-text">HeadlessCMS, Wordpress</li>
            <li class="about-me__panel-text">Blender (enjoy)</li>
          </ul>
        </li>

        <li class="about-me__item">
          <div class="about-me__item--box">
            <h3 class="about-me__header">EDUCATION</h3>
            <button type="button" class="about-me__button">
              <svg
                class="about-me__icon"
                width="20"
                height="20"
                aria-label="icon arrow"
              >
                <use href="./img/svg/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <ul class="about-me__panel visually-hidden">
            <li class="about-me__panel-text">
              2018 - 2019 / Frontend Development Diploma, GolT IT School, New
              York
            </li>
            <li class="about-me__panel-text">
              2019 - 2020 / Advanced Web Development Certificate, GolT IT
              School, New York
            </li>
            <li class="about-me__panel-text">
              2020 - 2022 / Advanced Blender Animation Tec
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="swiper-section">
      <div class="swiper swiper-skills-list-container">
        <div class="swiper-wrapper swiper-skills-list__wrapper">
          <div class="swiper-slide swiper-skills-slide">
            <div class="swiper-slide-container">
              <p class="swiper-slide-container-text">HTML/CSS</p>
            </div>
          </div>
          <div class="swiper-slide swiper-skills-slide">
            <div class="swiper-slide-container">
              <p class="swiper-slide-container-text">JavaScript</p>
            </div>
          </div>
          <div class="swiper-slide swiper-skills-slide">
            <div class="swiper-slide-container">
              <p class="swiper-slide-container-text">React</p>
            </div>
          </div>
          <div class="swiper-slide swiper-skills-slide">
            <div class="swiper-slide-container">
              <p class="swiper-slide-container-text">Node.js</p>
            </div>
          </div>
          <div class="swiper-slide swiper-skills-slide">
            <div class="swiper-slide-container">
              <p class="swiper-slide-container-text">React Native</p>
            </div>
          </div>
          <div class="swiper-slide swiper-skills-slide">
            <div class="swiper-slide-container">
              <p class="swiper-slide-container-text">Soft skills</p>
            </div>
          </div>
          <div class="swiper-slide swiper-skills-slide">
            <div class="swiper-slide-container">
              <p class="swiper-slide-container-text">Vue.js</p>
            </div>
          </div>
          <div class="swiper-slide swiper-skills-slide">
            <div class="swiper-slide-container">
              <p class="swiper-slide-container-text">MongoDB</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-skill-list-next skills-list-next">
        <button type="button" class="swiper-skill-list-button">
          <svg
            class="about-me-arrow"
            width="28"
            height="28"
            aria-label="icon arrow right"
          >
            <use href="./img/svg/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
