<section class="about-me-section">
    <h2 class="about-me-section__title visually-hidden">ABOUT ME</h2>
    <div class="about-me-section__description">
      <h3>I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND <span>FUNCTIONAL</span> <span>WEBSITES </span> THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.</h3>
    </div>
    <div class="about-me-section__image">
        <picture>
            <source
            srcset="../img/about-me/about-me-desktop.png 1x, ../img/about-me/about-me-desktop@2x.png 2x"
            media="(min-width: 1200px)" />

        <source
            srcset="../img/about-me/about-me-tablet.png 1x, ../img/about-me/about-me-tablet@2x.png 2x"
            media="(min-width: 768px)" />

        <source
            srcset="../img/about-me/about-me-mobile.png 1x, ../img/about-me/about-me-mobile@2x.png 2x"
            media="(max-width: 768px)" />

            <img src="../img/about-me/about-me-desktop.png" alt="portrait">
        </picture>
    </div>

    <ul class="about-me-accordion-container">
      <li class="about-me-accordion-item">
        <div class="about-me-accordion-header">ABOUT ME</div>
        <div class="about-me-accordion-panel open">
          <p>I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming languages and technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.</p>
          <p>Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work. I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.</p>
        </div>
      </li>
      
      <li class="about-me-accordion-item">
        <div class="about-me-accordion-header">ROLE</div>
        <div class="about-me-accordion-panel">
          <p>Frontend development</p>
          <p>HeadlessCMS, Wordpress</p> 
          <p>Blender (enjoy)</p>
        </div>
      </li>

      <li class="about-me-accordion-item">
        <div class="about-me-accordion-header">EDUCATION</div>
        <div class="about-me-accordion-panel">
          <p>2018 - 2019 / Frontend Development Diploma, GolT IT School, New York</p>
          <p>2019 - 2020 / Advanced Web Development Certificate, GolT IT School, New York</p>
          <p>2020 - 2022 / Advanced Blender Animation Tec</p>
        </div>
      </li>
    </ul>
    <div class="about-me-swiper-container">
      <ul class="about-me-swiper-wrapper">
        <li class="about-me-swiper-slide">HTML/CSS</li>
        <li class="about-me-swiper-slide">JavaScript</li>
        <li class="about-me-swiper-slide">React</li>
        <li class="about-me-swiper-slide">Node.js</li>
        <li class="about-me-swiper-slide">React Native</li>
      </ul>
      
      <div class="about-me-swiper-button-next"></div>
      <div class="about-me-swiper-button-prev"></div>
    </div>
  </section>