<section id="benefits" class="section section-benefits">
    <div class="container">
        <h2 class="benefits-title-section">Benefits of working with me</h2>
        <ul class="benefits-list">
            <li class="benefits-list-item">
                <svg class="benefit-icon">
                    <use href="../img/svg/symbol-defs.svg#icon-user-01"></use>
                </svg>
                <h3 class="benefit-title">Expertise</h3>
                <p class="benefits-text">As a highly experienced developer, I have deep knowledge of programming and
                    website development.
                </p>
            </li>
            <li class="benefits-list-item">
                <svg class="benefit-icon">
                    <use href="../img/svg/symbol-defs.svg#icon-message-chat-circle-02"></use>
                </svg>
                <h3 class="benefit-title">Communication</h3>
                <p class="benefits-text">Understanding your needs and wants is my priority and I am always open to
                    discussions and
                    corrections.
                </p>
            </li>
            <li class="benefits-list-item">
                <svg class="benefit-icon">
                    <use href="../img/svg/symbol-defs.svg#icon-brush-03"></use>
                </svg>
                <h3 class="benefit-title">Art</h3>
                <p class="benefits-text">Thanks to my creative nature, I am ready to accept challenges and help you
                    bring your ideas to
                    life.
                </p>
            </li>
            <li class="benefits-list-item">
                <svg class="benefit-icon">
                    <use href="../img/svg/symbol-defs.svg#icon-hourglass-04"></use>
                </svg>
                <h3 class="benefit-title">Urgent execution</h3>
                <p class="benefits-text">I understand how important time is to you. Ready to work quickly and
                    efficiently, without
                    reducing the quality of work.
                </p>
            </li>
        </ul>
        <div class="benefits-button-container">
            <button class="benefits-button" type="">Order the project</button>
        </div>
    </div>
</section>