
<section id="covers" class="section covers-section">
    <div class="rolling-images" id="rollingImages">
        <ul class="image-list">

            <li class="image-item"><img src="../img/covers/" alt="Image 1" class="cover-image"></li>
            <li class="image-item"><img src="" alt="Image 2" class="cover-image"></li>
            <li class="image-item"><img src="" alt="Image 3" class="cover-image"></li>
            <li class="image-item"><img src="" alt="Image 4" class="cover-image"></li>
            <li class="image-item"><img src="" alt="Image 5" class="cover-image"></li>
            <li class="image-item"><img src="" alt="Image 6" class="cover-image"></li>
            <li class="image-item"><img src="" alt="Image 7" class="cover-image"></li>
            <li class="image-item"><img src="" alt="Image 8" class="cover-image"></li>
            <li class="image-item"><img src="" alt="Image 9" class="cover-image"></li>
            <li class="image-item"><img src="" alt="Image 10" class="cover-image"></li>
    
        </ul>

    </div>
    
    <script src="../js/covers.js"></script>
</section>
    
