<section id="covers" class="covers-section">
  <h2 class="visually-hidden">Сovers</h2>
  <div class="rolling-images" id="rollingImages">
    <ul class="covers-list first-ul">
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-1-1x.webp 1x,
              ./img/covers/Picture-1-2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/covers/Picture-1-1x.jpeg 1x,
              ./img/covers/Picture-1-2x.jpeg 2x
            "
          />
          <img src="./img/covers/Picture-1-1x.jpeg" alt="Image 1" />
        </picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-2-1x.webp 1x,
              ./img/covers/Picture-2-2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/covers/Picture-2-1x.jpeg 1x,
              ./img/covers/Picture-2-2x.jpeg 2x
            "
          />
          <img src="./img/covers/Picture-2-1x.jpeg" alt="Image 2" />
        </picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-3-1x.webp 1x,
              ./img/covers/Picture-3-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-3-1x.jpeg 1x,
              ./img/covers/Picture-3-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-3-1x.jpeg" alt="Image 3"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-4-1x.webp 1x,
              ./img/covers/Picture-4-2x.webp 2x
            " />

          <source
            srcset="
              ./img/covers/Picture-4-1x.jpeg 1x,
              ./img/covers/Picture-4-2x.jpeg 2x
            " />

          <img src="./img/covers/Picture-4-1x.jpeg" alt="Image 4"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-5-1x.webp 1x,
              ./img/covers/Picture-5-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-5-1x.jpeg 1x,
              ./img/covers/Picture-5-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-5-1x.jpeg" alt="Image 5"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-6-1x.webp 1x,
              ./img/covers/Picture-6-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-6-1x.jpeg 1x,
              ./img/covers/Picture-6-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-6-1x.jpeg" alt="Image 6"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-7-1x.webp 1x,
              ./img/covers/Picture-7-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-7-1x.jpeg 1x,
              ./img/covers/Picture-7-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-7-1x.jpeg" alt="Image 7"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-8-1x.webp 1x,
              ./img/covers/Picture-8-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-8-1x.jpeg 1x,
              ./img/covers/Picture-8-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-8-1x.jpeg" alt="Image 8"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-9-1x.webp 1x,
              ./img/covers/Picture-9-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-9-1x.jpeg 1x,
              ./img/covers/Picture-9-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-9-1x.jpeg" alt="Image 9"
        /></picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/covers/Picture-10-1x.webp 1x,
              ./img/covers/Picture-10-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-10-1x.jpeg 1x,
              ./img/covers/Picture-10-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-10-1x.jpeg" alt="Image 10"
        /></picture>
      </li>
    </ul>
    <ul class="covers-list second-ul">
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-1-1x.webp 1x,
              ./img/covers/Picture-1-2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/covers/Picture-1-1x.jpeg 1x,
              ./img/covers/Picture-1-2x.jpeg 2x
            "
          />
          <img src="./img/covers/Picture-1-1x.jpeg" alt="Image 1" />
        </picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-2-1x.webp 1x,
              ./img/covers/Picture-2-2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/covers/Picture-2-1x.jpeg 1x,
              ./img/covers/Picture-2-2x.jpeg 2x
            "
          />
          <img src="./img/covers/Picture-2-1x.jpeg" alt="Image 2" />
        </picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-3-1x.webp 1x,
              ./img/covers/Picture-3-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-3-1x.jpeg 1x,
              ./img/covers/Picture-3-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-3-1x.jpeg" alt="Image 3"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-4-1x.webp 1x,
              ./img/covers/Picture-4-2x.webp 2x
            " />

          <source
            srcset="
              ./img/covers/Picture-4-1x.jpeg 1x,
              ./img/covers/Picture-4-2x.jpeg 2x
            " />

          <img src="./img/covers/Picture-4-1x.jpeg" alt="Image 4"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-5-1x.webp 1x,
              ./img/covers/Picture-5-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-5-1x.jpeg 1x,
              ./img/covers/Picture-5-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-5-1x.jpeg" alt="Image 5"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-6-1x.webp 1x,
              ./img/covers/Picture-6-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-6-1x.jpeg 1x,
              ./img/covers/Picture-6-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-6-1x.jpeg" alt="Image 6"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-7-1x.webp 1x,
              ./img/covers/Picture-7-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-7-1x.jpeg 1x,
              ./img/covers/Picture-7-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-7-1x.jpeg" alt="Image 7"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-8-1x.webp 1x,
              ./img/covers/Picture-8-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-8-1x.jpeg 1x,
              ./img/covers/Picture-8-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-8-1x.jpeg" alt="Image 8"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-9-1x.webp 1x,
              ./img/covers/Picture-9-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-9-1x.jpeg 1x,
              ./img/covers/Picture-9-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-9-1x.jpeg" alt="Image 9"
        /></picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/covers/Picture-10-1x.webp 1x,
              ./img/covers/Picture-10-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-10-1x.jpeg 1x,
              ./img/covers/Picture-10-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-10-1x.jpeg" alt="Image 10"
        /></picture>
      </li>
    </ul>
    <ul class="covers-list third-ul">
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-1-1x.webp 1x,
              ./img/covers/Picture-1-2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/covers/Picture-1-1x.jpeg 1x,
              ./img/covers/Picture-1-2x.jpeg 2x
            "
          />
          <img src="./img/covers/Picture-1-1x.jpeg" alt="Image 1" />
        </picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-2-1x.webp 1x,
              ./img/covers/Picture-2-2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/covers/Picture-2-1x.jpeg 1x,
              ./img/covers/Picture-2-2x.jpeg 2x
            "
          />
          <img src="./img/covers/Picture-2-1x.jpeg" alt="Image 2" />
        </picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-3-1x.webp 1x,
              ./img/covers/Picture-3-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-3-1x.jpeg 1x,
              ./img/covers/Picture-3-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-3-1x.jpeg" alt="Image 3"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-4-1x.webp 1x,
              ./img/covers/Picture-4-2x.webp 2x
            " />

          <source
            srcset="
              ./img/covers/Picture-4-1x.jpeg 1x,
              ./img/covers/Picture-4-2x.jpeg 2x
            " />

          <img src="./img/covers/Picture-4-1x.jpeg" alt="Image 4"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-5-1x.webp 1x,
              ./img/covers/Picture-5-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-5-1x.jpeg 1x,
              ./img/covers/Picture-5-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-5-1x.jpeg" alt="Image 5"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-6-1x.webp 1x,
              ./img/covers/Picture-6-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-6-1x.jpeg 1x,
              ./img/covers/Picture-6-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-6-1x.jpeg" alt="Image 6"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-7-1x.webp 1x,
              ./img/covers/Picture-7-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-7-1x.jpeg 1x,
              ./img/covers/Picture-7-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-7-1x.jpeg" alt="Image 7"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-8-1x.webp 1x,
              ./img/covers/Picture-8-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-8-1x.jpeg 1x,
              ./img/covers/Picture-8-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-8-1x.jpeg" alt="Image 8"
        /></picture>
      </li>
      <li>
        <picture class="cover-image">
          <source
            srcset="
              ./img/covers/Picture-9-1x.webp 1x,
              ./img/covers/Picture-9-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-9-1x.jpeg 1x,
              ./img/covers/Picture-9-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-9-1x.jpeg" alt="Image 9"
        /></picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/covers/Picture-10-1x.webp 1x,
              ./img/covers/Picture-10-2x.webp 2x
            " />
          <source
            srcset="
              ./img/covers/Picture-10-1x.jpeg 1x,
              ./img/covers/Picture-10-2x.jpeg 2x
            " />
          <img src="./img/covers/Picture-10-1x.jpeg" alt="Image 10"
        /></picture>
      </li>
    </ul>
  </div>
</section>
