
<section id="covers" class="section covers-section">
    <h2 class="visually-hidden">COVERS</h2>
    <div class="rolling-images" id="rollingImages">
    <ul class="covers-list">
        <li>
            <img class="cover-image" src="./img/covers/Picture-1-1x.jpeg" srcset="./img/covers/Picture-1-1x.jpeg 1x,
                        ../img/covers/Picture-1-2x.jpeg 2x"  alt="Image 1">
        </li>
        <li>
            <img class="cover-image" src="./img/covers/Picture-2-1x.jpeg" srcset="./img/covers/Picture-2-1x.jpeg 1x,
                                 ./img/covers/Picture-2-2x.jpeg 2x"  alt="Image 2">
        </li>
        <li>
            <img  class="cover-image" src="./img/covers/Picture-3-1x.jpeg" srcset="./img/covers/Picture-3-1x.jpeg 1x,
                                 ./img/covers/Picture-3-2x.jpeg 2x"  alt="Image 3">
        </li>
        <li>
            <img class="cover-image" src="./img/covers/Picture-4-1x.jpeg" srcset="./img/covers/Picture-4-1x.jpeg 1x,
                                 ./img/covers/Picture-4-2x.jpeg 2x"  alt="Image 4">
        </li>
        <li>
            <img class="cover-image" src="./img/covers/Picture-5-1x.jpeg" srcset="./img/covers/Picture-5-1x.jpeg 1x,
                                 ./img/covers/Picture-5-2x.jpeg 2x"  alt="Image 5">
        </li>
        <li>
            <img class="cover-image" src="./img/covers/Picture-6-1x.jpeg" srcset="./img/covers/Picture-6-1x.jpeg 1x,
                                 ./img/covers/Picture-6-2x.jpeg 2x"  alt="Image 6">
        </li>
        <li>
            <img class="cover-image" src="./img/covers/Picture-7-1x.jpeg" srcset="./img/covers/Picture-7-1x.jpeg 1x,
                                 ./img/covers/Picture-7-2x.jpeg 2x"  alt="Image 7">
        </li>
        <li>
            <img class="cover-image" src="./img/covers/Picture-8-1x.jpeg" srcset="./img/covers/Picture-8-1x.jpeg 1x,
                                 ./img/covers/Picture-8-2x.jpeg 2x"  alt="Image 8">
        </li>
        <li>
            <img  class="cover-image" src="./img/covers/Picture-9-1x.jpeg" srcset="./img/covers/Picture-9-1x.jpeg 1x,
                                 ./img/covers/Picture-9-2x.jpeg 2x"  alt="Image 9">
        </li>
        <li>
            <img class="cover-image" src="./img/covers/Picture-10-1x.jpeg" srcset="./img/covers/Picture-10-1x.jpeg 1x,
                                 ./img/covers/Picture-10-2x.jpeg 2x"  alt="Image 10">
        </li>
       
    </ul>

    </div>
    
    <script src="../js/covers.js"></script>
</section>
    
