<header class="header section">
    <div class="hero-animation"></div>
    <div class="header-container container">
        <nav class="header-navigation">
            <a class="header-wrapper" href="https://aitmil.github.io/hugs-for-bugs/">
                <img class="work-together-picture-image" srcset="./img/developer-image-2x.png 2x"
                    src="./img/developer-image-1x.png" alt="photo of the developer in glasses" width="44" />

                <svg class="header-icon" width="84" height="19" aria-label="icon-cross">
                    <use href="./img/svg/symbol-defs.svg#icon-jefferson"></use>
                </svg>
            </a>
            <div class="menu-item">
                <a href="#" class="dropdown">Menu</a>
                <ul class="dropdown-content">
                    <li class="dropdown-link">
                        <a href="#about-me">About me</a>
                    </li>
                    <li class="dropdown-link">
                        <a href="#benefits">Benefits</a>
                    </li>
                    <li class="dropdown-link">
                        <a href="#projects">Projects</a>
                    </li>
                    <li class="dropdown-link">
                        <a href="#faq">FAQ</a>
                    </li>
                </ul>
            </div>
        </nav>

        <button class="mobile-menu-open-btn" type="button">
            <svg class="mobile-menu-open-btn-icon" width="28" height="28" aria-label="mobile menu open icon">
                <use href="./img/svg/symbol-defs.svg#icon-burger"></use>
            </svg>
        </button>

        <a class="header-link order-link" href="#work-together">Order the project</a>
    </div>

    <div class="mobile-menu-wrapper is-open">
        <div class="container mobile-menu-container">
            <button class="mobile-menu-close-btn" type="button">
                <svg class="modal-close-button-icon" width="28" height="28" aria-label="close mobile icon">
                    <use href="./img/svg/symbol-defs.svg#icon-cross"></use>
                </svg>
            </button>
            <ul class="mobile-menu">
                <li class="mobile-menu-item">
                    <a class="mobile-menu-link link menu-studio" href="#about-me">About me</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-link link" href="#benefits">Benefits</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-link link" href="#projects">Projects</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-link link" href="#faq">FAQ</a>
                </li>
                <a class="header-link-mobile" href="#work-together">Order the project</a>
            </ul>
        </div>
    </div>
</header>