<header class="header">
    <nav class="header-navigation">
        <a class="head-containe" href="https://aitmil.github.io/hugs-for-bugs/">
            <img src="../img/developer-image-2x.jpeg" width="80" height="80" alt="developer avatar">

            <svg class="header-icon" width="84" height="19">
                <use href="../img/svg/symbol-defs.svg#icon-jefferson"></use>
            </svg>
        </a>
        <div>
            <a class="dropdown">Menu</a>
            <ul class="dropdown-content">
                <li class="dropdown-link">
                    <a href="">About me</a>
                </li>
                <li class="dropdown-link">
                    <a href="#benefits">Benefits</a>
                </li>
                <li class="dropdown-link">
                    <a href="">Projects</a>
                </li>
                <li class="dropdown-link">
                    <a href="#faq">FAQ</a>
                </li>
            </ul>
        </div>
    </nav>
    <button class="mobile-menu-open-btn" type="button">
        <svg class="mobile-menu-open-btn-icon" width="28" height="28" aria-label="mobile menu open icon">
            <use href="../img/svg/symbol-defs.svg#icon-icon-burger"></use>
        </svg>
    </button>

    <a class="header-link" href="#work-together">Order the project</a>

</header>