<header class="header">
    <div class="head-containe">
        <img src="../img/header/header-img.jpg" width="80" height="80" alt="developer avatar">

        <svg class="header-icon" width="84" height="19">
            <use href="../img/header/sprite.svg#icon-jefferson"></use>
        </svg>
    </div>
    <nav class="header-navigation">
        <a class="header-menu" >Menu</a>
        <div>
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="">About me</a>
                </li>
                <li class="menu-item">
                    <a href="">Benefits</a>
                </li>
                <li class="menu-item">
                    <a href="">Projects</a>
                </li>
                <li class="menu-item">
                    <a href="">FAQ</a>
                </li>
            </ul>
        </div>
    </nav>
    <button class="mobile-menu-open-btn" type="button">
        <svg class="mobile-menu-open-btn-icon" width="28" height="28" aria-label="mobile menu open icon">
            <use href="../img/header/sprite.svg#icon-Icon"></use>
        </svg>
    </button>
    <div>
        <a class="header-link" href="">Order the project</a>
    </div>
</header>