<section class="modal-section" id="modal">
    <div class="modal-container">
        <button class="modal-close-button" type="button">
            <svg class="modal-close-button-icon" width="22" height="22" aria-label="icon-icon-cross">
                <use href="../img/svg/symbol-defs.svg"></use>
            </svg>
        </button>
        <h4 class="modal-title">Thank you for your interest in cooperation!</h4>
        <p class="modal-decription">The manager will contact you shortly to discuss further details and opportunities for
            cooperation. Please stay in touch.</p>
    </div>
</section>
