<div class="backdrop">
  <div class="modal is-open">
    <button class="modal-close-button" type="button">
      <svg
        class="modal-close-button-icon"
        width="22"
        height="22"
        aria-label="icon-cross"
      >
        <use href="./img/svg/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <h3 class="modal-title secondary-title">
      Thank you for your interest in cooperation!
    </h3>
    <p class="modal-decription transparent-text">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
