<section id="projects" class="project-section section container">
  <h2 class="project-section-header title transparent title">Projects</h2>

  <div class="swiper project-lists">
    <div class="swiper-wrapper project-lists-wrapper">
      <!-- The slide is inserted here -->
    </div>

    <div class="swiper-button-next swipe-btn-next">
      <svg width="25" height="24" class="project-section-arrow-right-svg">
        <!-- Need to revise the arrow svg -->
        <use href="./img/svg/symbol-defs.svg#icon-arrow-narrow-right"></use>
      </svg>
    </div>

    <div class="swiper-button-prev swipe-btn-prev">
      <svg width="25" height="24" class="project-section-arrow-left-svg">
        <!-- Need to revise the arrow svg -->
        <use href="./img/svg/symbol-defs.svg#icon-arrow-narrow-left"></use>
      </svg>
    </div>
  </div>
</section>
