<section id="projects" class = "project-section section">
    <h2 class = "project-section-header">PROJECTS</h2>

    <!-- Mobile screen markup starts here:-->
    <!-- Upper "light" part -->
    <div class = "project-section-light-part"> 
        <!-- <div class = "project-section-skills"> -->
            <ul class = "project-section-skills-list list">
                <li class = "project-section-list-skills-item">
                    #react
                </li>
                <li class = "project-section-list-skills-item">
                    #js
                </li>
                <li class = "project-section-list-skills-item">
                    #node js
                </li>
                <li class="project-section-list-skills-item">
                    #git
                </li>
            </ul>
        <!-- </div> -->

        <h3 class = "project-section-title">
            Programming Across Borders: Ideas, Technologies, Innovations
        </h3>

        <a  href="#"
            class="link project-section-link "
            aria-label="See project"
            target="_blank"
            rel="noopener noreferer"
            >
            See project
        </a>
    </div>

<!-- Lower "dark" part -->
    <div class = "project-section-dark-part swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img 
                    class=""
                    srcset=""
                    src=""
                    width=""
                    height=""
                    alt="">
            </div>

            <div class="swiper-slide">
                <img 
                    class=""
                    srcset=""
                    src=""
                    width=""
                    height=""
                    alt="">
            </div>
            <div class="swiper-slide">
                <img 
                    class=""
                    srcset=""
                    src=""
                    width=""
                    height=""
                    alt="">
            </div>
        </div>
    </div>

    <div class = "project-section-buttons">
        <div class="button swiper-button-prev"></div>
        <div class="button swiper-button-next"></div>
    </div>
    <!-- Mobile screen markup ends here-->

</section>
