<section id="projects" class="project-section section">
  <h2 class="project-section-header">PROJECTS</h2>

  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- The slide is inserted here -->
    </div>
    <div class="project-section-buttons">
      <div class="swiper-button-prev swipe-btn">
        <svg width="25" height="24" class="project-section-arrow-left-svg">
          <!-- Need to revise the arrow svg -->
          <use href="./img/svg/symbol-defs.svg#icon-arrow-narrow-left"></use>
        </svg>
      </div>

      <div class="swiper-button-next swipe-btn">
        <svg width="25" height="24" class="project-section-arrow-right-svg">
          <!-- Need to revise the arrow svg -->
          <use href="./img/svg/symbol-defs.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
