<section class="reviews-section container" id="reviews">
  <h2 class="reviews-title title">Reviews</h2>
  <div class="reviews-container">
    <div class="reviews-swiper-container swiper">
      <div class="swiper-wrapper reviews-swiper"></div>
      <div class="reviews-btn-container">
        <div class="reviews-btn-prev">
          <button type="button" class="reviews-swiper-btn">
            <svg width="25" height="24" class="review-section-arrow-left-svg">
              <use
                href="./img/svg/symbol-defs.svg#icon-arrow-narrow-left"
              ></use>
            </svg>
          </button>
        </div>
        <div class="reviews-btn-next">
          <button type="button" class="reviews-swiper-btn">
            <svg width="25" height="24" class="review-section-arrow-right-svg">
              <use
                href="./img/svg/symbol-defs.svg#icon-arrow-narrow-right"
              ></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
