<section class="reviews-section section container" id="reviews">
  <h2 class="reviews-title title">Reviews</h2>
  <div class="reviews-container">
    <div class="swiper-container swiper">
      <div class="swiper-wrapper reviews-swiper">
        <ul class="reviews-carusel"></ul>
      </div>
      <div class="review-buttons-container">
        <div class="swiper-button-next reviews-btn-next">
          <button type="button" class="reviews-swiper-btn">
            <svg width="25" height="24" class="review-section-arrow-right-svg">
              <use href="./img/svg/symbol-defs.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-button-prev reviews-btn-prev">
          <button type="button" class="reviews-swiper-btn">
            <svg width="25" height="24" class="review-section-arrow-left-svg">
              <use href="./img/svg/symbol-defs.svg#icon-arrow-narrow-left"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</section>
