div > .ac {
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
}

div > .ac .ac-header {
  margin: 0;
  padding: 0;
}
div > .ac .ac-trigger {
  font: inherit;
  text-align: left;
  width: 100%;
  padding: 8px 32px 8px 8px;
  display: block;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.25s ease;
  position: relative;
  text-decoration: none;
  border: 0;
  height: 72px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
div > .ac .ac-trigger {
  color: rgba(250, 250, 250, 0.4);
}
div > .ac .ac-trigger:focus,
div > .ac .ac-trigger:hover {
  color: #8a8a8a;
}

div > .ac .ac-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
  transition: all 1s ease-in;
}
div > .ac .ac-panel .ac-text {
  padding: 8px;
  margin: 0;
  text-align: right;
}

div > .ac.is-active > .ac-header .ac-trigger::after {
  content: '';
  display: none;
}

div > .ac .ac-trigger::after {
  content: '';
  display: none;
}
div > .ac .ac-trigger .ac-icon {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  transform: rotate(0);
  transition: all (--transition);
  background-color: #242527;
}

div > .ac .ac-trigger .ac-icon:hover,
div > .ac .ac-trigger .ac-icon:focus {
  border-color: var(--primary-light-color);
}

div > .ac .ac-trigger .ac-icon-active {
  transform: rotate(180deg);
  transition: all var(--transition);
}
div > .ac .ac-trigger .ac-icon-active-first {
  transform: rotate(-180deg);
  transition: all var(--transition);
}
.ac.js-enabled .ac-panel {
  visibility: hidden;
}
.ac.is-active .ac-panel {
  visibility: visible;
}

.am-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;

  max-width: 100%;
  margin-bottom: 32px;
}
.am-aboutme {
  width: 100%;
}
.am-accordion-wrap {
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  display: flex;
  justify-content: space-between;
}
.am-wrapper {
  width: 100%;
  height: 72px;
}
.aboutme-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 24px;
}

/* ====== SWIPER STYLES ====== */
.swiper-section {
  width: 100%;
  position: relative;
}

.swiper-section .swiper {
  margin-left: 0;
}

.swiper-skills-list-container {
  overflow: hidden;
  width: 130px;
}

.swiper-skills-slide .swiper-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 130px;
  height: 130px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  color: inherit;
  background-color: inherit;
}

.swiper-slide-active .swiper-slide-container {
  background-color: var(--accent-color);
}

.swiper-skill-list-next {
  position: absolute;
  background-color: transparent;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-skill-list-button > svg {
  stroke: var(--arrow-color);
  transition: stroke var(--transition);
}

.swiper-skill-list-next:hover .about-me-arrow {
  stroke: var(--accent-color);
}

.swiper-skill-list-next:focus .about-me-arrow {
  stroke: var(--accent-color);
}

.swiper-skill-list-button {
  background-color: #1c1d20;
  border: 0;
}

@media screen and (min-width: 375px) {
  .swiper-skills-list-container {
    width: 260px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-skills-list-container {
    width: 600px;
  }

  .swiper-skill-list-next svg {
    height: 44px;
    width: 43px;
  }

  .swiper-skills-slide .swiper-slide-container {
    width: 100%;
    height: 200px;
  }

  .swiper-slide-container-text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-skills-list-container {
    width: 1200px;
  }

  .swiper-slide-container-text {
    font-size: 20px;
    line-height: 24px;
  }

  .swiper-skill-list-next svg {
    height: 44px;
    width: 44px;
  }

  .swiper-skills-list-container .swiper-wrapper {
    width: 1200px;
  }

  .swiper-skills-slide .swiper-slide-container {
    width: 200px;
    height: 200px;
  }
}

/* ===================================== */

.about-me__section {
  padding: 64px 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 32px;
}

.about-me__header {
  color: #fafafa66;
  line-height: 24px;
  font-weight: 600;
}

.about-me__panel-text {
  line-height: 24px;
  display: none;
}

.about-me__item {
  padding: 20px 0;
  border-bottom: 1px solid;
  border-color: #fafafa33;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.about-me__item--box {
  display: flex;
}

.about-me__photo {
  display: flex;
  max-width: 100%;
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
}

.about-me__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.about-me__description {
  display: block;
  padding: 32px;
  background-color: #242527;
  border-radius: 24px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.about-me__description--title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

.about-me__description--title-accent-red {
  color: var(--accent-color);
  text-transform: uppercase;
}

.about-me__description--title-accent-grey {
  color: #fafafa66;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about-me__section {
    max-width: 704px;
    padding: 64px 0;
    gap: 64px;
  }

  .about-me__description--title {
    font-size: 38px;
    line-height: 40px;
  }

  .about-me__photo {
    width: 704px;
    height: 700px;
  }

  .about-me__description {
    width: 704px;
    height: 700px;
    padding: 64px;
  }

  /* .about-me__icon {
    width: 20px;
    height: 20px;
  }

  .about-me__button {
    width: 40px;
    height: 40px;
  } */
  .am-main {
    margin-bottom: 64px;
  }
  .am-headline {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me__section {
    max-width: 1440px;
    padding: 96px 32px;
    gap: 96px;
  }

  .about-me__box {
    flex-direction: row;
  }

  .about-me__description--title {
    font-size: 38px;
    line-height: 40px;
  }

  .about-me__photo {
    width: 680px;
    height: 700px;
  }

  /* .about-me__icon {
    width: 20px;
    height: 20px;
  }

  .about-me__button {
    width: 40px;
    height: 40px;
  }

  .about-me__panel {
    margin-left: 696px;
  } */
  .aboutme-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 48px;
    width: 612px;
  }
  .am-main {
    margin-bottom: 96px;
  }
}
