/* ====== SWIPER STYLES ====== */

.about-mesection .swiper {
  max-width: 1312px;
  margin-bottom: 64px;
  display: flex;
  align-items: center;
}

.about-mesection .swiper-wrapper {
  display: flex;
  max-width: 1440px;
}

.about-me__section .swiper-slide {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border: 1px solid;
  border-color: #fafafa33;
  border-radius: 50%;
  color: var(--primary-light-color);
}

.color-slide {
  background-color: #ed3b44;
}

.swiper-button-next {
  margin-left: 72px;
  background-color: transparent;
}

/* ===================================== */

.about-me__section {
  padding: 64px 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 32px;
}

.about-me__header {
  color: #fafafa66;
  line-height: 24px;
  font-weight: 600;
}

.about-me__panel-text {
  line-height: 24px;
}

.about-me__item {
  padding: 20px 0;
  border-bottom: 1px solid;
  border-color: #fafafa33;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.about-me__item--box {
  display: flex;
}

.about-me__photo {
  display: flex;
max-width: 100%;
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.about-me__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.about-me__description {
  display: block;
  padding: 32px;
  background-color: #242527;
  border-radius: 24px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.about-me__description--title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

.about-me__description--title-accent-red {
  color: var(--accent-color);
  text-transform: uppercase;
}

.about-me__description--title-accent-grey {
  color: #fafafa66;
  text-transform: uppercase;
}

.about-me__panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.about-me__item--box {
  display: flex;
  justify-content: space-between;
}

.about-me__icon {
  background-color: #242527;
}

.about-me__button {
  background-color: #242527;
width: 36px;
height: 36px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 10px;
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 100px;
}

.about-me__icon--rotate {
  transform: rotate(180deg);
}


@media screen and (min-width: 768px) {

.about-me__section {
  max-width: 704px;
  padding: 64px 0;
  gap: 64px;
}

.about-me__description--title{
  font-size: 38px;
  line-height: 40px;
}

.about-me__photo {
  width: 704px;
  height: 700px;
}

.about-me__description {
  width: 704px;
  height: 700px;
padding: 64px;
}

.about-me__icon {
  width: 20px;
  height: 20px;
}

.about-me__button {
  width: 40px;
  height: 40px;
}

}

@media screen and (min-width: 1440px) {
  .about-me__section {
    max-width: 1440px;
    padding: 96px 48px;
    gap: 96px;
  }

  .about-me__box {
    flex-direction: row;
  }

  .about-me__description--title{
    font-size: 38px;
    line-height: 40px;
  }

  .about-me__photo {
    width: 680px;
    height: 700px;
  }

  .about-me__icon {
    width: 20px;
    height: 20px;
  }
  
  .about-me__button {
    width: 40px;
    height: 40px;
  }
}