:root {
  color: var(--primary-light-color);
  background-color: var(--primary-dark-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* ===== colors ===== */

  --primary-dark-color: #1c1d20;
  --primary-light-color: #fafafa;
  --cards-color: #242527;
  --arrow-color: #3b3b3b;
  --border-color: rgba(250, 250, 250, 0.2);
  --button-color: #ed3b44;
  --accent-color: #e0373f;
  --text-color: rgba(250, 250, 250, 0.6);
  --headers-text-color: rgba(250, 250, 250, 0.4);
  --error-text-color: #e74a3b;
  --success-text-color: #3cbc81;
  --background: rgba(28, 29, 32, 0.2);



  /* ======= transition ===== */
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  /* width: 100%;
  max-width: 100%;
  overflow-x: hidden; */
}

.container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.title {
  text-transform: uppercase;
}

.transparent-title {
  font-weight: 600;
  color: var(--headers-text-color);
}

.main-title {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.03em;
}

.secondary-title {
  font-weight: 600;
  font-size: 20px;
}

.transparent-text {
  color: var(--text-color);
}

.order-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  padding: 18px 24px;
  width: 163px;
  height: 55px;
  background-color: var(--button-color);
}

.order-link:hover {
  background: var(--accent-color);
}

a:focus,
input:focus,
textarea:focus,
a:active,
input:active,
textarea:active {
  outline: none;
}

a,
input,
textarea {
  outline: none;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .container {
    max-width: 1440px;
  }
}
