/* === MOBILE STYLES ==== */
.benefits-list-item {
    margin-top: 16px;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 29px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 5%);
}

.benefits-list-item:first-child {
    margin-top: 32px;
}

.benefits-list-item:last-child {
    margin-bottom: 24px;
}

.benefit-icon {
    border-radius: 10px;
    width: 48px;
    height: 48px;
    background-color: #ED3B44;
}

.benefits-title-section {
    font-size: 16px;
    text-transform: uppercase;
    color: #FAFAFA;
    opacity: 40%;
}

.benefit-title {
    margin-top: 70px;
    margin-bottom: 18px;
}

.benefits-text {
    padding-right: 24px;
    color: #FAFAFA;
    opacity: 60%;
}

.benefits-button-container {
    width: 187px;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 20%);
    border-radius: 40px;
    box-sizing: border-box;
}

.benefits-button-container:hover {
    background-color: rgba(237, 59, 68);
    transition: 2s;
}

.benefits-link {
    margin: 15px 36px;
    width: 115px;
    height: 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* === /MOBILE STYLES === */

/* === TABLET STYLES === */
@media (min-width: 768px) {
    .benefits-title-section {
        display: block;
        margin-bottom: 95px;
    }

    .benefits-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        row-gap: 16px;
    }

    .benefits-list-item {
        margin: 0;
        width: calc((100% - 16) / 2);
    }

    .benefits-list-item:first-child {
        margin: 0;
    }

    .benefits-list-item:last-child {
        margin: 0;
    }

    .benefits-button-container {
        display: block;
        justify-content: left;
        margin-top: 63px;
    }

}
/* === /TABLET STYLES === */

/* === DESKTOP STYLES === */
@media (min-width: 1440px) {
    .benefits-title-section {
        position: absolute;
        margin-bottom: 0;
    }

    .benefits-container {
        justify-content: right;
        width: 50%;
    }

    .benefits-container {
        position: relative;
        left: 50%;
        width: 50%;
    }
}
/* === /DESKTOP STYLES === */