.covers-section {
    position: relative;
    overflow: hidden;
    height: 508px;
    margin-left: auto;
    margin-right: auto;
    
}

.rolling-images {
    position: relative;
    
}


@keyframes rollImages {
    0% {
        transform: translateY(0) translateX(0);
    }

    25% {
        transform: translateY(-5%) translateX(-5%);
    }

    50% {
        transform: translateY(0%) translateX(0%);
    }

    75% {
        transform: translateY(5%) translateX(5%);
    }

    100% {
        transform: translateY(0%) translateX(0%);
    }
}

.rolling-images ul li img {
    border-radius: 0;
}

.rolling-images ul {
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    
    margin: 0;
    padding: 0;
    transform: translateY(100%);
    animation: rollImages 30s linear infinite;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;

}

.rolling-images ul li {
    display: inline-block;
    position: relative;
    z-index: 2;
    transform: rotate(17deg);
    margin:20px;
}

.covers-section::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 20% 20%, rgba(237, 59, 68, 0.8) 10%, transparent 11%),
        radial-gradient(circle at 60% 70%, rgba(237, 59, 68, 0.8) 10%, transparent 11%),
        radial-gradient(circle at 80% 30%, rgba(237, 59, 68, 0.8) 10%, transparent 11%),
        radial-gradient(circle at 20% 90%, rgba(237, 59, 68, 0.8) 10%, transparent 11%);
    filter: blur(50px);
    z-index: 0;
}

.cover-image {
    width: 282.29px;
    height: 162.94px;
}