.covers-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        radial-gradient(circle at 20% 20%, rgba(237, 59, 68, 0.8) 10%, transparent 11%),
        radial-gradient(circle at 60% 70%, rgba(237, 59, 68, 0.8) 10%, transparent 11%),
        radial-gradient(circle at 80% 30%, rgba(237, 59, 68, 0.8) 10%, transparent 11%),
        radial-gradient(circle at 20% 90%, rgba(237, 59, 68, 0.8) 10%, transparent 11%);
    filter: blur(50px);
    z-index: -1;
}


@media screen and (min-width:320px) {
    /* to edit versions*/
    covers-section{
        height: 508px;
    }
}
