.header-container {
  display: flex;
}

.img-logo {
  border-radius: 26px;
}

.head-containe {
  display: flex;
  gap: 8px;
}

.header-navigation {
  display: flex;
  flex-direction: column;
  width: 172px;
  height: 80px;
}

.header {
  max-width: 375px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.menu-item {
  display: none;
}
.header-link {
  display: none;
}

.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  fill: #2f2f37;
}
