.projects-swiper .swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
  content: '';
}

.project-section {
  max-width: 375px;
  margin: 0 auto;
}

.project-section-header {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--headers-text-color);
}

.project-section-light-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-light-color);
  padding: 32px;
  border-radius: 24px 24px 0 0;
}

.light-part-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.project-section-skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 164px;
  color: var(--primary-dark-color);
}

.project-section-list-skills-item {
  padding: 13px 18px;
  border: 1px solid var(--background);
  border-radius: 60px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.project-section-title {
  color: var(--primary-dark-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
}

.see-project-ref {
  max-width: fit-content;
  padding: 13px 32px;
  background-color: var(--button-color);
  border-color: transparent;
  border-radius: 50px;
  color: var(--primary-light-color);
}

.see-project-ref:hover,
.see-project-ref:focus {
  background-color: var(--accent-color);
}

/* ///////Arrow button styles/////////// */
.project-section-svg {
  width: 25px;
  height: 24px;
  margin: auto;
}

.project-section-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: transparent;
}

/* ////////Arrow buttons positioning/////////// */

.arrows-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.project-section-svg {
  stroke: var(--primary-light-color);
}

/* ////////Disable button styles///////// */

.swiper-button-projects-disabled {
  border-color: var(--border-color);
}

.swiper-button-projects-disabled>.project-section-svg {
  stroke: var(--border-color);
}

/* /* //////////////////////////// */

.project-section-dark-part {
  padding: 100px 16px;
  background-color: var(--cards-color);
  border-radius: 0 0 24px 24px;
  margin-bottom: 32px;
}

.project-section-img {
  min-width: 100%;
}

@media screen and (min-width: 768px) {
  .project-section {
    min-width: 768px;
    margin: 0 auto;
  }

  .project-section-light-part {
    padding: 64px;
  }

  .project-section-skills-list {
    margin-bottom: 164px;
  }

  .project-section-title {
    max-width: 494px;
    font-size: 44px;
    line-height: 100%;
  }

  .light-part-wrap {
    gap: 32px;
  }

  .project-section-dark-part {
    padding: 120px 45px;
    margin-bottom: 64px;
  }

  .arrows-container {
    gap: 20px;
  }

  .project-section-svg {
    width: 32px;
    height: 32px;
  }

  .project-section-btn {
    width: 68px;
    height: 68px;
  }
}

@media screen and (min-width: 1440px) {
  .project-section {
    min-width: 1440px;
    margin: 0 auto;
  }

  .project-section-skills-list {
    margin-bottom: 223px;
  }

  .projects-swiper-slide {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 64px;
  }

  .project-section-title {
    max-width: 494px;
    font-size: 44px;
    line-height: 100%;
  }

  .project-section-light-part {
    padding: 64px;
    border-radius: 24px 0 0 24px;
    min-width: 50%;
  }

  .project-section-dark-part {
    padding: 120px 45px;
    margin-bottom: 0;
    border-radius: 0 24px 24px 0;
    min-width: 50%;
  }
}