.section {
  padding-left: 16px;
  padding-right: 16px;
  max: width 375px;
}

.project-section {
  padding: 0 16px;
  max-width: 375px;
  margin: 0 auto;
}

.project-section-header {
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--headers-text-color);
}

.project-section-light-part {
  background-color: var(--primary-light-color);
  padding: 32px;
  border-radius: 24px 24px 0 0;
}

.project-section-skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
  color: var(--primary-dark-color);
}

.project-section-list-skills-item {
  padding: 13px 18px;
  border: 1px solid var(--background);
  border-radius: 60px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  /* color: var(--background); */
}

.project-section-title {
  color: var(--primary-dark-color);
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
}

.see-project-ref {
  padding: 13px 32px;
  background-color: var(--button-color);
  border-color: transparent;
  border-radius: 50px;
  color: var(--primary-light-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.see-project-ref:hover,
.see-project-ref:hover:focus {
  background-color: var(--accent-color);
}

.swiper-wrapper {
  margin-bottom: 32px;
}

.swiper-slide {
  margin: 0 auto;
}

.project-section-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.swiper-btn {
<<<<<<< Updated upstream
  border: 1px solid rgba(250, 250, 250, 0.5);
=======
  border: 1px solid var(--border-color);
>>>>>>> Stashed changes
  border-radius: 60px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-arrow {
  width: 25px;
  height: 25px;
}

.project-section-dark-part {
  padding: 100px 16px;
  background-color: var(--cards-color);
  border-radius: 0 0 24px 24px;
  margin-bottom: 32px;
}
<<<<<<< Updated upstream
=======

.project-section-img {
  min-width: 100%;
}

@media screen and (min-width: 768px) {
  .project-section {
    max-width: 768px;
    padding: 32px;
    /* margin-bottom: 64px; */
  }
  .project-section-light-part {
    padding: 64px;
  }

  .project-section-skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 164px;
  }

  .project-section-title {
    font-size: 40px;
    max-width: 494px;
  }
  .project-section-dark-part {
    padding: 120px 45px;
    margin-bottom: 64px;
  }

  .svg-arrow {
    width: 32px;
    height: 32px;
  }

  .swiper-btn {
    width: 68px;
    height: 68px;
  }
  .project-section-buttons {
    gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .projects-swiper-slide {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    gap: 0;
    margin: 64px;
  }

  .project-section {
    max-width: 1440px;
    padding: 32px;
  }
  .project-section-light-part {
    border-radius: 24px 0 0 24px;
  }

  .project-section-dark-part {
    padding: 120px 37px;
    border-radius: 0 24px 24px 0;
    margin: 0;
  }
}
>>>>>>> Stashed changes
