.reviews-section {
  padding-bottom: 118px;
}

.reviews-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--headers-text-color);
  margin-bottom: 32px;
}

.user-review-container {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  /* width: auto; */
  height: 302px;
  padding: 32px 24px;
    overflow: scroll;
    /* text-overflow: ellipsis; */
  
}

.reviews-item-img {
  width: 48px;
  height: 48px;
  border-radius: 10px;
}

.review-user-name {
  padding-top: 32px;
  padding-bottom: 8px;
}

.review-user-photo {
  height: 48px;
  width: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.review-user-comment {
  margin: 0;
  /* text-overflow: ellipsis; */
  overflow: hidden;
}

.reviews-container {
  width: 100%;
  height: 100%;
}

.reviews-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.reviews-swiper-container .swiper-button-prev {
  width: 68px;
}

.swiper-container .swiper-button-next {
  width: 68px;
}

.reviews-swiper-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: transparent;
}

.reviews-btn-container svg {
  stroke: var(--primary-light-color);
  transition: stroke var(--transition);
}

.swiper-container .swiper-button-next:after {
  content: '';
}

.swiper-container .swiper-button-prev:after {
  content: '';
}

.reviews-container .swiper-button-prev svg {
  width: 32px;
}

.reviews-container .swiper-button-next svg {
  width: 32px;
}

/* ===================================== */

.swiper-button-reviews-disabled > .reviews-swiper-btn {
  border-color: var(--border-color);
}

.swiper-button-reviews-disabled
  > .reviews-swiper-btn
  > .review-section-arrow-right-svg {
  stroke: var(--border-color);
}

.swiper-button-reviews-disabled
  > .reviews-swiper-btn
  > .review-section-arrow-left-svg {
  stroke: var(--border-color);
}

/* /=========================== */
@media (min-width: 375px) {
  .user-review-container {
     width: 332px;
  }
}

@media (min-width: 768px) {
  .reviews-section {
    min-width: 704px;
    padding-bottom: 32px;
  }

  .reviews-btn-container {
    gap: 20px;
  }

  .reviews-swiper-btn {
    height: 68px;
    width: 68px;
  }

  .review-section-arrow-right-svg {
    width: 32px;
    height: 32px;
  }
  .review-section-arrow-left-svg {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 1440px) {
  .reviews-section {
    min-width: 1376px;
  }

  .swiper-container .swiper-button-prev {
    width: 68px;
  }

  .swiper-container .swiper-button-next {
    width: 68px;
  }
}
