.reviews-section {
 padding-bottom: 118px;
}

.reviews-carusel {
  display: flex;
  gap: 16px;
}

.reviews-title {
  padding-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.user-review-container {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  width: auto;
  height: 302px;
  padding: 32px 24px;
}


.user-review-container {
    padding: 32px 24px;
}

.reviews-item-img {
    width: 48px;
    height: 48px;
    border-radius: 10px;
}

.review-user-name {
    padding-top: 32px;
    padding-bottom: 8px;
}

.review-user-photo {
  height: 48px;
  width: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.review-user-name {
  margin-bottom: 8px;
}

.review-user-comment {
  margin: 0;
  text-overflow: ellipsis;
}


.reviews-container{
    width: 100%;
    height: 100%;
}
 
.swiper-container .swiper-button-prev  {
   position: absolute;
   z-index: 10;
   left: 90px;
   top: auto;
   width: 68px;
   display: flex;
}

.swiper-container .swiper-button-next {
    position: absolute;
    z-index: 10;
    right: 90px;
    top: auto;
    width: 68px;
    display: flex;
}

.reviews-swiper-btn{
 border-radius: 50%;
 width: 52px;
 border: 1px solid;
 border-color: rgb(250, 250, 250, 0.5);
 background-color: transparent;
 height: 52px;
 position: relative;
 bottom: -60px;
 }


.swiper-container .swiper-button-next:after{
    content: '';
 }

 .swiper-container  .swiper-button-prev:after{
     content: '';
 }

 .reviews-container .swiper{
position: static;
 }

.reviews-container .swiper-button-prev svg{
    width: 32px;
}

.reviews-container .swiper-button-next svg {
    width: 32px;
}




/* /=========================== */
@media (min-width: 375px) {
    .user-review-container {
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 20px;
        width: 332px;
        height: 302px;
        padding: 32px 24px;
    }

        .swiper-container .swiper-button-prev {
            left: 120px;
        }
    
        .swiper-container .swiper-button-next {
            right: 120px;
        }
}

@media (min-width: 768px) {
    .reviews-section {
        min-width: 704px;
        padding-bottom: 32px;
    }

    .swiper-container .swiper-button-prev {
        left: 300px;
    }

    .swiper-container .swiper-button-next {
        right: 306px;
    }


.reviews-swiper-btn {
    height: 68px;
    width: 68px;
    bottom: -100px;
}
}

@media (min-width: 1440px) {
    .reviews-section {
        min-width: 1376px;
    }

    .swiper-container .swiper-button-prev {
        position: absolute;
        z-index: 10;
        left: 642px;
        top: auto;
        width: 68px;
        display: flex;
    }

    .swiper-container .swiper-button-next {
        position: absolute;
        z-index: 10;
        right: 642px;
        top: auto;
        width: 68px;
        display: flex;
    }

}