.work-together-logo-title {
  display: flex;
  margin-bottom: 111px;
  gap: 8px;
}
.work-together-picture {
  width: 44px;
  height: 44px;
  background-color: var(--primary-dark-color);
  margin-bottom: 4px;
}
.work-together-picture-image {
  border-radius: 12px;
}
.work-together-title {
  position: relative;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}
.work-together-span {
  color: var(--button-color);
}
.work-together-second-span {
  position: absolute;
  left: -52px;
  top: 50px;
}

.work-together-form {
  display: flex;
  flex-wrap: wrap;
}

.work-together-form-input {
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 20px;
  color: var(--primary-light-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px inset var(--border-color);
}
.work-together-form-input:hover,
.work-together-form-input:focus {
  border-bottom: 1px solid var(--primary-light-color);
  outline: none;
  transition: var(--transition);
}
.work-together-form-comment {
  width: 100%;
  height: 44px;
  resize: none;
  color: var(--primary-light-color);
  margin-bottom: 32px;
  background-color: var(--primary-dark-color);
  border: none;
  border-bottom: 1px inset var(--border-color);
}
.work-together-form-comment:hover,
.work-together-form-comment:focus {
  border-bottom: 1px solid var(--primary-light-color);
  outline: none;
  transition: var(--transition);
}
.work-together-button {
  margin-bottom: 64px;
  width: 100px;
  height: 100px;
  background-color: var(--button-color);
  border-radius: 50%;
  color: var(--primary-light-color);
  border: none;
}

.work-together-button:focus,
.work-together-button:hover {
  outline: none;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.work-together-contacts {
  flex-direction: column;
}
.work-together-contacts-list {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
}
.work-together-contacts-list-link {
  width: 100%;
  font-style: normal;
}
.contacts-link {
  display: inline-block;
  font-size: 14px;
  border: 1px inset var(--border-color);
  border-radius: 60px;
  padding: 10px 12px;
  white-space: nowrap;
}

.contacts-link:hover,
.contacts-link:focus {
  outline: none;
  border: 1px solid var(--primary-light-color);
  transition: var(--transition);
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 16, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 40;
  transform: translate(-50%, -50%);
  padding: 64px 32px;
  min-width: 343px;
  max-height: 276px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  background-color: var(--primary-dark-color);
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  transition: opacity var(--transition), visibility var(--transition);
}

.modal.active,
.backdrop.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-close-button {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: var(--primary-dark-color);
}

.modal-title {
  margin-bottom: 16px;
  text-align: center;
}

.modal-description {
  width: 279px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .work-together-picture-image {
    width: 70px;
  }

  .work-together-container {
    padding-top: 85px;
    padding-bottom: 169px;
    margin: 0;
    max-width: 768px;
  }

  .work-together-logo-title {
    gap: 20px;
  }
  .work-together-picture {
    width: 70px;
    height: 70px;
  }
  .work-together-title {
    font-size: 64px;
    line-height: 64px;
  }
  .work-together-second-span {
    left: -91px;
    top: 80px;
  }

  .work-together-form {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 32px;
  }
  .work-together-form-input-section {
    display: flex;
    gap: 32px;
    padding-right: 0;
  }
  .work-together-form-input {
    height: 44px;
  }
  .work-together-form-comment {
    height: 44px;
  }
  .work-together-button {
    width: 150px;
    height: 150px;
  }

  .work-together-contacts-list {
    height: 55px;
    gap: 8px;
  }
  .work-together-contacts-list {
    align-items: baseline;
  }
  .contacts-link {
    font-size: 16px;
    padding: 18px 32px;
    border-radius: 60px;
  }
}

/* MODAL */

@media screen and (min-width: 768px) {
  .modal {
    max-width: 492px;
    max-height: 246px;
    padding-right: 64px;
    padding-left: 64px;
  }
  .modal-title {
    width: 364px;
  }
  .modal-description {
    width: 364px;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .work-together-container {
    margin: 0;
    max-width: 1440px;
    padding-left: 196px;
    padding-right: 196px;
  }

  .work-together-form {
    justify-content: space-between;
  }
  .work-together-form-input-section {
    gap: 32px;
  }
  .work-together-form-input {
    width: 390px;
  }
  .work-together-form-comment {
    width: 390px;
  }
}
